@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&family=Roboto+Mono:wght@400;700&display=swap');

/* COLORS */

:root {
    --background-color: #f8f9fa;
    --second-background-color: #ffffff;  
    --text-color: #2c3e50;
    --blue: #2999ff;
    --yellow: #fab417;
    --shadows: #0000001a;
    --email-button: white;
    --widget-text-color: white;
    --widget-background-color: #8183852d;
}

/* Správné použití pro Next.js dark mode */
.dark {
    --background-color: #1e1e2f;
    --second-background-color: #2a2a3a;  
    --text-color: white;
    --blue: #2999ff;
    --yellow: #fab417;
    --shadows: #0000001a;
    --email-button: white;
    --widget-text-color: white;
    --widget-background-color: #ffffff1a;
}